<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
	    <title>Gestion d'utilisateurs Chat</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"/>
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
		<link rel="stylesheet" href="/css/channel.css">
	</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2F5D62;">
        <a class="navbar-brand" href="#" style="color: #ffffff;">
            	UTC AI16
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        	<span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        	<ul class="navbar-nav">
            	<li class="nav-item">
              		<a class="nav-link" th:href="@{/home}">Accueil</a>
            	</li>
            	<li class="nav-item">
                	<a class="nav-link" th:href="@{/my_account}">Mon compte</a>
            	</li>
            	<li class="nav-item">
                	<a class="nav-link" th:href="@{/my_channels}">Mes Salons</a>
            	</li>
            	<li class="nav-item" th:if="${user.isAdmin()}">
					<a class="nav-link" th:href="@{/admin}">Admin Menu</a>	
				</li>
	            <li class="nav-item ml-auto pull-left">
                	<form th:action="@{/logout}" method="post">
						<p><button type="submit" class="btn btn-primary">Sign Out</button></p>
					</form>
            	</li>
	    	</ul>
		</div>
	</nav>

	<div class="container-fluid text-center">
		<p>Gestion de votre salle de Chat</p>
		<p>Invite User</p>
		<form th:action="@{/inviteUser}" method="post">
			<div th:if="${userError != null}">
	            <p class="text-danger">User not Found</p>
	        </div>
	        <div th:if="${userInvError != null}">
	            <p class="text-danger">User Already Invited</p>
	        </div>
	        <div th:if="${invited != null}">
	            <p class="text-danger">User Invited</p>
	        </div>
			<div class="form-group">
				<input type="text" name="selected" th:value="${channel.channelName}" hidden/>
				<label for="exampleInputPassword1">User Mail</label>
				<input type="email" class="form-control" name="userMail">
				<p><button type="submit" class="btn btn-primary">invite User</button></p>
			</div>
		</form>
		<div th:if="${removed != null}">
			<p class="text-danger">User Removed</p>
		</div>
		<table class="table table-striped table-hover table-sm" id="tableUsersList">
		<thead>
			<tr>
				<th scope="col">First Name</th>
				<th scope="col">Last Name</th>
				<th scope="col">Email</th>
				<th scope="col">Gender</th>
				<th scope="col">Remove</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${users}">
				<td class="firstName" th:text="${user.firstName}"></td>
				<td class="lastName" th:text="${user.lastName}"></td>
				<td class="mail" th:text="${user.mail}"></td>
				<td class="gender" th:text="${user.gender}"></td>
				<td>
					<form th:action="@{/removeUser}" method="post">
					        <input type="text" name="selected" th:value="${channel.channelName}" hidden/>
					        <input type="text" name="removal" th:value="${user.idUser}" hidden/>
							<input type=Submit value="Supprimmer l'utilisateur">
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>