<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"/>
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
		<link rel="stylesheet" href="/css/channel.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2F5D62;">
        <a class="navbar-brand" href="#" style="color: #ffffff;">
            	UTC AI16
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        	<span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        	<ul class="navbar-nav">
            	<li class="nav-item">
              		<a class="nav-link" th:href="@{/home}">Accueil</a>
            	</li>
            	<li class="nav-item">
                	<a class="nav-link" th:href="@{/my_account}">Mon compte</a>
            	</li>
            	<li class="nav-item">
                	<a class="nav-link" th:href="@{/my_channels}">Mes Salons</a>
            	</li>
            	<li class="nav-item" th:if="${user.isAdmin()}">
					<a class="nav-link" th:href="@{/admin}">Admin Menu</a>	
				</li>
	            <li class="nav-item ml-auto">
                	<form th:action="@{/logout}" method="post">
						<p><button type="submit" class="btn btn-primary">Sign Out</button></p>
					</form>
            	</li>
	    	</ul>
		</div>
</nav>
<div class="container-fluid text-center">
    <main>
        <h1 class="title">Vos Salons de Discussion</h1><br>
			<a class="btn btn-primary" th:href="@{/createchannel}" role="button">Créer une Salle</a>
			<table class="table table-striped table-hover table-sm" id="tableUsersList">
	            <thead>
	            <tr>
	                <th scope="col">Channel Name</th>
	                <th scope="col">Description</th>
	                <th scope="col">Start Date</th>
	                <th scope="col">Start Hour</th>
	                <th scope="col">End Date</th>
	                <th scope="col">End Hour</th>
	                <th scope="col">Gerer les Utilisateurs</th>
	                <th scope="col">Acceder au Chat</th>
	                <th scope="col">Supprimer Chat</th>
	            </tr>
	            </thead>
	            <tbody>
	            <tr th:each="channel : ${userChannels}">
	                <td><span th:text="${channel.channelName}"></span></td>
	                <td><span th:text="${channel.description}"></span></td>
	                <td><span th:text="${channel.startDate}"></span></td>
	                <td><span th:text="${channel.startHour}"></span></td>
	                <td><span th:text="${channel.endDate}"></span></td>
	                <td><span th:text="${channel.endHour}"></span></td>
	                <td> <!-- on affiche un bouton permettant d'accéder à la gestion des utilisateurs -->
						<form th:action="@{/adminChannel}" method="post">
							<input type="text" name="selected" th:value="${channel.idChannel}" hidden/>
							<p><button type="submit" class="btn btn-primary">Gerer Utilisateurs</button></p>
						</form>
					</td>
					<td>
						<span th:if="${channel.isValid()}"><a class="btn btn-primary" th:href="@{/chat/{idChannel}(idChannel=${channel.idChannel.toString()})}" role="button">Salle de Chat</a></span>
				        <button th:unless="${channel.isValid()}" type="button" class="btn btn-danger">Expired</button>
					</td>
					<td> <!-- on affiche un bouton permettant de supprimmer le channel -->
						<form th:action="@{/deleteChannel}" method="post">
							<input type="text" name="selected" th:value="${channel.idChannel}" hidden/>
							<p><button type="submit" class="btn btn-danger">Delete</button></p>
						</form>
					</td>
	            </tr>
	            </tbody>
        	</table>
        	<div th:if="not ${user.isAdmin()}">
        	<h1 class="title">Salons Disponibles</h1><br>
			<table class="table table-striped table-hover table-sm" id="tableUsersList">
	            <thead>
	            <tr>
	                <th scope=>Channel Name</th>
	                <th scope=>Description</th>
	                <th scope=>Start Date</th>
	                <th scope=>Start Hour</th>
	                <th scope=>End Date</th>
	                <th scope=>End Hour</th>
	                <th scope=>Acceder au Chat</th>
	            </tr>
	            </thead>
	            <tbody>
	            <tr th:each="channel : ${invitedChannels}">
	                <td><span th:text="${channel.channelName}"></span></td>
	                <td><span th:text="${channel.description}"></span></td>
	                <td><span th:text="${channel.startDate}"></span></td>
	                <td><span th:text="${channel.startHour}"></span></td>
	                <td><span th:text="${channel.endDate}"></span></td>
	                <td><span th:text="${channel.endHour}"></span></td>
					<td>
						<div th:if="${channel.isValid()}">
				            <a class="btn btn-primary" th:href="@{/chat/{idChannel}(idChannel=${channel.idChannel.toString()})}" role="button">Salle de Chat</a>
				        </div>
					</td>
	            </tr>
	            </tbody>
        	</table>
        	</div>
    </main>
</div>

</body>
</html>