<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
	    <title>Salon Discussion UTC Login</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"/>
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
		<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>		<!-- https://cdnjs.com/libraries/sockjs-client -->
      	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
      	<!-- https://cdnjs.com/libraries/stomp.js/ -->
      	<script  src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
		<link rel="stylesheet" href="/css/channel.css">
	</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2F5D62;">
        <a class="navbar-brand" href="#" style="color: #ffffff;">
            	UTC AI16
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        	<span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        	<ul class="navbar-nav">
            	<li class="nav-item">
              		<a class="nav-link" th:href="@{/home}">Accueil</a>
            	</li>
            	<li class="nav-item">
                	<a class="nav-link" th:href="@{/my_account}">Mon compte</a>
            	</li>
            	<li class="nav-item">
                	<a class="nav-link" th:href="@{/my_channels}">Mes Salons</a>
            	</li>
            	<li class="nav-item" th:if="${user.isAdmin()}">
					<a class="nav-link" th:href="@{/admin}">Admin Menu</a>	
				</li>
	            <li class="nav-item mr-auto">
                	<form th:action="@{/logout}" method="post">
						<p><button type="submit" class="btn btn-primary">Sign Out</button></p>
					</form>
            	</li>
	    	</ul>
		</div>
	</nav>

	<div class="container-fluid" id="container">

		<div class="row justify-content-md-center">

			<div class="chat-room card border-light mb-3">
			<!-- start:aside chat room -->
            <aside class="chat-side">
				<div class="chat-room-head">
					<h3 class="card-title">
						<strong th:text="${channel.channelName}"></strong>
					</h3>
				</div>
				<div id="connecting" hidden>Connecting...</div>
				<span id="username" th:text="${user.mail}" hidden></span>
				<span id="channel" th:text="${channel.idChannel}" hidden></span>
				<div class="ps-container ps-theme-default ps-active-y"
					id="messageArea"
					style="overflow-y: scroll !important; height: 500px !important;">
					<div th:each="message: ${messages}">
						<div class="group-rom">
							<div class="first-part"><span th:text="${message.sender}">Dummy Data</span></div>
							<div class="second-part"><span th:text="${message.message}">Dummy Data</span></div>
							<div class="third-part">
								<span th:text="${message.date}">Dummy Data</span>
								<span th:text="${message.hour}">Dummy Data</span>
							</div>
						</div>
					</div>
					<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
						<div class="ps-scrollbar-x" tabindex="0"
							style="left: 0px; width: 0px;"></div>
					</div>
					<div class="ps-scrollbar-y-rail"
						style="top: 0px; height: 0px; right: 2px;">
						<div class="ps-scrollbar-y" tabindex="0"
							style="top: 0px; height: 2px;"></div>
					</div>
					
				</div>
				<div class="publisher bt-1 border-light">
			         <form id="messageForm" name="messageForm">
			            <div class="input-message">
			               <input type="text" id="message" autocomplete="off"
			                  placeholder="Type a message..."/>
			               <button type="submit">Send</button>
			            </div>
			         </form>
				</div>
			</aside>
			<aside class="users-side">
                <div class="user-head">
                	<h3>Active Users</h3>
                </div>
                <div class="ps-container ps-theme-default ps-active-y"
					style="overflow-y: scroll !important; height: 400px !important;"
					id=userArea>
					<div th:each="inv: ${users}">
						<div class="group-rom">
							<i th:id="${inv.getName()}" class="fa fa-circle text-success"></i>
	                        <span th:text="${inv.getName()}">dummy</span>
	                    </div>
					</div>
				</div>
			</aside>
		</div>
	</div>
		<div class="col-4"></div>

	</div>

</body>

<script type="text/javascript" th:src="@{/js/chat.js}"></script>
</html>