<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
	    <title>Salon Discussion UTC Login</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"/>
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
	    <link rel="stylesheet" href="/css/channel.css">
	</head>
	<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2F5D62;">
        <a class="navbar-brand" href="#" style="color: #ffffff;">
            	UTC AI16
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        	<span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        	<ul class="navbar-nav">
            	<li class="nav-item">
              		<a class="nav-link" th:href="@{/home}">Accueil</a>
            	</li>
            	<li class="nav-item">
                	<a class="nav-link" th:href="@{/my_account}">Mon compte</a>
            	</li>
            	<li class="nav-item">
                	<a class="nav-link" th:href="@{/my_channels}">Mes Salons</a>
            	</li>
            	<li class="nav-item" th:if="${loggedUser.isAdmin()}">
					<a class="nav-link" th:href="@{/admin}">Admin Menu</a>	
				</li>
	            <li class="nav-item ml-auto pull-left">
                	<form th:action="@{/logout}" method="post">
						<p><button type="submit" class="btn btn-primary">Sign Out</button></p>
					</form>
            	</li>
	    	</ul>
		</div>
	</nav>
	      
      <div class="animated fadeInLeft" style="animation-delay:.5s">
        <div class="container-fluid" style="padding: 50px;">
            <div class="d-flex bd-highlight">
                <div class="p-2 flex-fill bd-highlight">
                    <div class="animated pulse" style="animation-delay:1.5s">
                        <div class="card" style="width: 25rem;">
							<div class="card-header text-center bg-info ">
								<h3> Welcome </h3>
						    	<h3 th:text="${loggedUser.firstName}"></h3>
						    	<h3 th:text="${loggedUser.lastName}"></h3>
						  	</div>
						</div>
                    </div>
				</div>
				<div class="p-2 w-100 bd-highlight">
                    <h2 class="title">UTC AI16</h2><br>
                    <h5><i>Architecture d'application Web</i></h5>
                    <p style="text-align: justify;">
                        Cette application est une page web en architecture MVC utilisant les technologies Spring MVC, thymeleaf et hibernate. 
                    </p>
                    <h5><i>Objectif</i></h5>
                    <p style="text-align: justify;">
                        L’objectif principal est de concevoir et developper une application en utlisant les concepts fondamentaux vues en cours comment
                        les websockets, les accés aux données avec un ORM et un modele DAO et le developpement web avec CSS et JS.
                    </p>
                </div>
			</div>
			<br>
			
		</div>
	</div>
	<div class="container-fluid" style="padding: 50px; background-color: #e9f7f3">
            <h2 style="margin-left:20px;">Projet réalisé par :</h2><br>
                <div class="row row-cols-3">
                    <div class="col">
                        <div class="animated pulse" style="animation-delay:2s; margin: 20px;">
                            <h5><i>Ramos Ireta Jose Santiago</i></h5>
                        </div>
                    </div>
                    <div class="col">
                        <div class="animated pulse" style="animation-delay:3s; margin: 20px;">
                            <h5><i>Lucas Clement</i></h5>
                        </div>
                    </div>
                   
                    <div class="col">
                        <div class="animated pulse" style="animation-delay:5s; margin: 20px;">
                            <h5><i>Youssef Laetitia</i></h5>
                        </div>
                    </div>
              </div>
              
            </div>
            
            <div class="container-fluid" style="padding: 40px;">
                <div class="animated pulse" style="animation-delay:1.5s">
                    <div class="row row-cols-1">
                        <div class="col" style="text-align: center">
                            <img th:src="@{images/utclogo.png}" width="200" class="d-inline-block align-top" alt="">
                        </div>
        
                    </div>
                    
                </div>
            </div>
            <div class="container-fluid footer" style="background-color: #2F5D62; color: #ffffff;">
                <div class="row row-cols-1">
                    <div class="col footer" style="text-align: center; padding-top: 20px;">
                        AI16 | P22
                        <hr style="margin-left: 400px; margin-right: 400px;">
                    </div>
                    
                </div>
            </div>
</body>
</html>