<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>AI16 HOMEPAGE</title>
</head>
<body>
<p>TODO homepage blabla</p>
<a href="https://tinyurl.com/3wcyvb7x" title="https://utc.fr">UTC homepage</a>

<a th:href="@{/login}">LOGIN</a>
<p></p>
<a th:href="@{/signup}">SIGNUP</a>
<p></p>
<a th:href="@{/test}">TEST CRUD (console only)</a>

</body>
</html>