<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Salon Discussion UTC Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/channel.css">
</head>
<body>
<section class="vh-100 gradient-custom">
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12 col-md-8 col-lg-6 col-xl-5">
				<div>
					<img class="img-responsive center-block" th:src="@{images/utclogo.png}" />
				</div>
				<div class="card text-white" style="border-radius: 1rem; background-color: #2F5D62">
					<div class="card-body p-5 text-center">
						<form th:action="@{/login}" method="post">
							<div th:if="${param.error}">
								Invalid mail or password.
								<p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
							</div>
							<div th:if="${param.logout}">
								<p class="text-warning">You have been logged out.</p>
							</div>

							<div class="mb-md-5 mt-md-4 pb-5">

								<h2 class="fw-bold mb-2 text-uppercase">Login</h2>
								<p class="text-white-50 mb-5">Please enter your login and password!</p>

								<div class="form-outline form-white mb-4">
									<label> Mail : <input type="email" name="username" class="form-control form-control-lg" placeholder="E-mail" required autofocus/>
									</label>
								</div>

								<div class="form-outline form-white mb-4">
									<label> Password: <input type="password" name="password" class="form-control form-control-lg" placeholder="Password" required/>
									</label>
								</div>

								<p>
									<input type="checkbox" name="remember-me" />Remember Me
								</p>

								<button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>


							</div>
						</form>
						<div>
							<p class="mb-0">Don't have an account? <a class="btn btn-primary" th:href="@{/signup}" role="button">Sign Up</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
	</body>
</html>