<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
	    <title>Salon Discussion UTC Login</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"/>
	    <link rel="stylesheet" href="/css/channel.css">
	</head>
<body>
<div class="container mt-5 center">
	<div class="card" style="width: 25rem;">
		<div class="card-header text-center bg-info ">
	    	<h3>Account modified</h3>
	  	</div>
	  	<div class="card-body">
	  		<div class="form-group">
		    	<label for="exampleInputEmail1">First Name:</label>
		    	<span th:text="${user.firstName}"></span>
		  	</div>
		    <div class="form-group">
		    	<label for="exampleInputEmail1">Last Name:</label>
		    	<span th:text="${user.lastName}"></span>
		  	</div>
		  	<div class="form-group">
		    	<label for="exampleInputEmail1">Email:</label>
		    	<span th:text="${user.mail}"></span>
		  	</div>
		  	<div class="form-group">
		    	<label for="exampleInputPassword1">Password:</label>
		    	<span th:text="${user.password}"></span>
		  	</div>
		  	<div class="form-group">
			  	<label for="exampleFormControlSelect1">Gender:</label>
			   	<span th:text="${user.gender}"></span>
		  	</div>
		</div>
	</div>
	<a th:href="@{/home}">Back to Home Page</a>
</div>
</body>
</html>