<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
	    <title>Salon Discussion UTC Login</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"/>
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
	    <link rel="stylesheet" href="/css/channel.css">
	    <link rel="stylesheet" href="/css/myaccount.css">
	</head>
	<body>
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2F5D62;">
        <a class="navbar-brand" href="#" style="color: #ffffff;">
            	UTC AI16
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        	<span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        	<ul class="navbar-nav">
            	<li class="nav-item">
              		<a class="nav-link" th:href="@{/home}">Accueil</a>
            	</li>
            	<li class="nav-item">
                	<a class="nav-link" th:href="@{/my_account}">Mon compte</a>
            	</li>
            	<li class="nav-item">
                	<a class="nav-link" th:href="@{/my_channels}">Mes Salons</a>
            	</li>
            	<li class="nav-item" th:if="${user.isAdmin()}">
					<a class="nav-link" th:href="@{/admin}">Admin Menu</a>	
				</li>
	            <li class="nav-item ml-auto">
                	<form th:action="@{/logout}" method="post">
						<p><button type="submit" class="btn btn-primary">Sign Out</button></p>
					</form>
            	</li>
	    	</ul>
		</div>
	</nav>
	
	<div class="container rounded bg-white mt-5 mb-5">
		<div class="row">
			<div class="mt-5 text-center">
				<h4 class="text-center">Modify your AI16 Salon de Discussion account</h4>
			</div>
			<div class="col-md-6 border-right">
				<div class="p-3 py-5">
					<form th:action="@{/modify-save}" method="post" th:object="${user}">
						<div th:if="${modificationError != null}">
							<p class="text-danger">User Mail Already Exists</p>
						</div>
							<div class="row mt-3">
								<div class="col-md-12">
									<label class="form-check-label">First Name</label>
									<input type="text" id="firstName" class="form-control" th:field="*{firstName}" value="">
								</div>
								<div class="col-md-12">
									<label class="form-check-label">Last Name</label>
									<input type="text" id = "lastName" class="form-control" value="" th:field="*{lastName}">
								</div>
							</div>
							<div class="form-group">
								<label for="exampleFormControlSelect1">Gender</label>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Masculin" th:field="*{gender}">
									<label class="form-check-label" for="inlineRadio1">Male</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Femenin" th:field="*{gender}">
									<label class="form-check-label" for="inlineRadio2">Female</label>
								</div>
							</div>
						<div class="mt-2 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
					</form>
					</div>
				</div>
			<div class="col-md-6 border-right">
				<div class="p-3 py-5">
					<div class="row mt-3">
						<div class="col-md-12">
							<form th:action="@{/modifyP-save}" method="post">
								<label class="form-check-label">Change Password</label>
								<input type="password" class="form-control" aria-describedby="passwordHelp" name="newPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
										title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
										placeholder="Password" required autofocus>
								<div class="mt-4 text-center"><button class="btn btn-primary profile-button" type="submit">Modify Password</button></div>
							</form>
						</div>
						<div class="col-md-12">
							<form th:action="@{/deactivate-save}" method="post" th:object="${user}">
								<label class="form-check-label">Deactivate Your Account</label>
								<div class="mt-2 text-right"><button type="submit" class="btn btn-primary profile-button">Deactivate</button></div>
							</form>
						</div>
					</div>
			</div>
		</div>
	</div>
	</div>
	</body>
</html>