@charset "ISO-8859-1";
html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-container > form{
    height: 200px;
    width: 300px;
    border: 1px solid #ccc;
}

.login-container > form > label, .login-container > form > input{
    display: block;
}

header, footer{
    height: 5%;
    background-color: #184e5b;
    color: #fff;
}

nav{
    height: 8%;
    background-color: #7da7ad;
}

.content{
    display: flex;
    height: 82%;
    width: 100%;
}

aside{
    width: 20%;
}

main{
    width: 80%;
}

body {
    font-family: 'Raleway';
}
.nav-link{
    color: #fff;
}
.nav-link:hover{
    color: #DEEDF0;
}

.navbar-brand{
    padding: 20px;
}
.footer{
    transition: 3s;
}
.footer:hover{
    color: #52B69A;
}

.card-body{
    text-align: justify;
}

.col{
    margin-bottom: 20px;
}
.card{
    min-height: 600px;
}

.chat-room {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    position: relative;
}


.chat-room aside {
    display: table-cell;
    float: none;
    height: 100%;
    padding: 0;
    vertical-align: top;
}

.chat-room .users-side {
    width: 15%;
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
}
.chat-room .chat-side {
    width: 85%;
    border-right: 1px solid #e5e8ef;
}
.chat-room .chat-side .user-head {
    min-height: 70px;
    padding: 15px;
}
.chat-room .users-side .user-head {
    min-height: 70px;
    padding: 10px;
    border-left: 1px solid #2980b9;
    margin-left: -1px;
    position: relative;
}
.chat-room-head {
    background: #3498db;
    color: #FFFFFF;
    min-height: 70px;
    padding: 15px;
}

.chat-room-head h3 {
    margin: 5px 0 0;
    font-weight: 100;
    letter-spacing: 1px;
    display: inline-block;
}
.group-rom {
    width: 100%;
    float: left;
    border-bottom: 1px solid #eaebee;
}

.group-rom .first-part,
.group-rom .second-part,
.group-rom .third-part {
    float: left;
    padding: 15px;
}

.group-rom .first-part {
    width: 15%;
}

.group-rom .first-part.odd {
    background: #f7f8fa;
    color: #6a6a6a;
    font-weight: 600;
}

.group-rom .second-part{
    width: 60%;
    display: inline-block;
}

.group-rom .third-part{
    width: 15%;
    color: #d4d3d3;
}
.group-rom .server-part{
    width: 80%;
    color: #d4d3d3;
}

ul.chat-available-user {
    padding: 10px;
    list-style: none;
}

ul.chat-available-user li {
    margin-bottom: 15px;
}

ul.chat-available-user li i {
    padding-right: 5px;
    font-size: 10px;
}


