<!DOCTYPE HTML>
<html layout:decorate="~{admin/adminLayout}">
<th:block layout:fragment="content">
	<h1>Utilisateurs désactivés</h1>
	<hr/>
	<table class="table table-striped table-hover table-sm" id="tableUsersList">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Prénom</th>
	      <th scope="col">Nom</th>
	      <th scope="col">Email</th>
	      <th scope="col">Genre</th>
	      <th scope="col">Rôle</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="user : ${users}">
	      <td th:text="${user.idUser}"></td>
	      <td th:text="${user.firstName}"></td>
	      <td th:text="${user.lastName}"></td>
	      <td th:text="${user.mail}"></td>
	      <td th:text="${user.gender}"></td>
	      <td th:text="${user.admin ? 'Admin' : 'Membre'}"></td>
	    </tr>
	  </tbody>
	</table>
</th:block>
<th:block layout:fragment="script">
	<script>
		let table = new DataTable('#tableUsersList', DATATABLE_OPTIONS);
	</script>
</th:block>
</html>