<!DOCTYPE HTML>
<html layout:decorate="~{admin/adminLayout}">
<th:block layout:fragment="content">
	<h1>Utilisateurs actifs</h1>
	<hr/>
	<table class="table table-striped table-hover table-sm" id="tableUsersList">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Prénom</th>
	      <th scope="col">Nom</th>
	      <th scope="col">Email</th>
	      <th scope="col">Genre</th>
	      <th scope="col">Rôle</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="user : ${users}">
	      <td th:text="${user.idUser}"></td>
	      <td th:text="${user.firstName}"></td>
	      <td th:text="${user.lastName}"></td>
	      <td th:text="${user.mail}"></td>
	      <td th:text="${user.gender}"></td>
	      <td th:text="${user.admin ? 'Admin' : 'Membre'}"></td>
	    </tr>
	  </tbody>
	</table>
</th:block>

<th:block layout:fragment="script">
	<script>
	// TODO - à remplacer par les bonnes valeurs
	$(document).ready( function () {
	    let table = new DataTable('#tableUsersList', {
	    	"language" : {
	    		"info": "Afficher les éléments de _START_ à _END_ ( _TOTAL_ au total )"
	    		 "search":         "Rechercher:",
	    		 "lengthMenu":     "Show _MENU_ entries",
	    		 "infoEmpty":      "Showing 0 to 0 of 0 entries",
	    		 "infoFiltered":   "(filtered from _MAX_ total entries)",
	    		 "zeroRecords":    "No matching records found",
	    	}
	    });
	} );
	</script>
</th:block>
</html>