<!DOCTYPE HTML>
<html layout:decorate="~{admin/adminLayout}">
<th:block layout:fragment="content">
	<h1>Liste des utilisateurs</h1>
	<hr />
	<table class="table table-striped table-hover table-sm" id="tableUsersList">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Prénom</th>
				<th scope="col">Nom</th>
				<th scope="col">Email</th>
				<th scope="col">Genre</th>
				<th scope="col">Rôle</th>
				<th scope="col">Actif</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${users}" th:attr="user-id=${user.idUser}">
				<td class="idUser" th:text="${user.idUser}"></td>
				<td class="firstName" th:text="${user.firstName}"></td>
				<td class="lastName" th:text="${user.lastName}"></td>
				<td class="mail" th:text="${user.mail}"></td>
				<td class="gender" th:text="${user.gender}"></td>
				<td class="role" th:text="${user.admin ? 'Admin' : 'Membre'}"></td>
				<td class="active" th:text="${user.active ? 'Activé' : 'Désactivé'}"></td>
				<td>
					<button class="btn btn-info btn-sm edit-user" title="Modifier l'utilisateur" th:attr="user-id=${user.idUser},onclick=|onClickEditUser('${user.idUser}')|" >
						<i class="fa fa-pen"></i>
					</button>
					<button class="btn btn-danger btn-sm delete-user" title="Supprimer l'utilisateur" th:attr="onclick=|onClickDeleteUser('${user.idUser}')|">
						<i class="fa fa-trash-can"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>

	<div th:replace="admin/components/modal-editUser"></div>
	<div th:replace="admin/components/modal-deleteUser"></div>
</th:block>

<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/admin/users.js}"></script>
</th:block>

</html>