<form id="form-user">
	<fieldset>
		<div class="form-group row">
			<label for="firstName" class="col-sm-2 col-form-label">Prénom</label>
			<div class="col-sm-10">
				<input id="firstName" class="form-control" type="text">
			</div>
		</div>
		<div class="form-group row mt-2">
			<label for="lastName" class="col-sm-2 col-form-label">Nom</label>
			<div class="col-sm-10">
				<input id="lastName" class="form-control" type="text">
			</div>
		</div>
		<div class="form-group row mt-2">
			<label for="mail" class="col-sm-2 col-form-label">Email</label>
			<div class="col-sm-10">
				<input id="mail" class="form-control" type="text">
			</div>
		</div>
		<div class="form-group row mt-2">
			<label for="gender" class="col-sm-2 col-form-label">Genre</label>
			<div class="col-sm-10">
				<select class="form-select" id="gender">
					<option value="Masculin">Masculin</option>
					<option value="Feminin">Feminin</option>
					<option value="Non-renseigne" selected>Non-renseigné</option>
				</select>
			</div>
		</div>
		<div class="form-group row mt-2">
			<label for="admin" class="col-sm-2 col-form-label">Admin</label>
			<div class="col-sm-10">
				<div class="form-check form-switch mt-2">
					<input id="admin" class="form-check-input" type="checkbox">
				</div>
			</div>
		</div>
		<div class="form-group row mt-2">
			<label for="active" class="col-sm-2 col-form-label">Actif</label>
			<div class="col-sm-10">
				<div class="form-check form-switch mt-2">
					<input id="active" class="form-check-input" type="checkbox">
				</div>
			</div>
		</div>
	</fieldset>
</form>