<div class="modal fade" id="modal-editUser">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Modifier l'utilisateur</h5>
				<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"></span>
				</button>
			</div>
			<div class="modal-body">
				<div th:replace="admin/components/form-user"></div>
			</div>
			<div class="modal-footer">
				<input id="userID" type="hidden" />
			
				<button type="button" class="btn btn-primary save-modifications" id="btn-editUser-save">Sauvegarder les changements</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn-editUser-cancel">Annuler</button>
			</div>
		</div>
	</div>
</div>