<div class="modal fade" id="modal-deleteUser">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Supprimer l'utilisateur</h5>
				<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"></span>
				</button>
			</div>
			<div class="modal-body">
				Voulez-vous supprimer cet utilisateur ?
			</div>
			<div class="modal-footer">
				<input id="userID" type="hidden" />
			
				<button type="button" class="btn btn-primary confirm-deletion" id="btn-deleteUser-confirm">Oui</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn-deleteUser-cancel">Non</button>
			</div>
		</div>
	</div>
</div>