<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/admin}">Chat AI16 - Administration</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item mr-auto">
          <a class="nav-link" th:href="@{/home}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/create-user}">Création utilisateur</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/users-list}">Liste des utilisateurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/users-list-disabled}">Utilisateurs désactivés</a>
        </li>
      </ul>
    </div>
  </div>
</nav>